# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
# ----------------------------------------------------------------------------------------------------------------------
# bar {
#         status_command i3status

#         height 30
#         position top
#         tray_output primary
#         tray_padding 2

#         colors {
#                 background $base00
#                 separator  $base01
#                 statusline $base04

#                 # State             Border  BG      Text
#                 focused_workspace   $base05 $base0D $base00
#                 active_workspace    $base05 $base03 $base00
#                 inactive_workspace  $base03 $base01 $base05
#                 urgent_workspace    $base08 $base08 $base00
#                 binding_mode        $base00 $base0A $base00
#         }
#         font pango:monospace 9, FontAwesome 10
# }

bar {
        font pango:Chicago 10
        position top
        status_command i3status
        strip_workspace_numbers yes
        tray_output primary
        tray_padding 2
        workspace_min_width 80
        # separator_symbol " | "
        colors {
                background #283339
                statusline #F9FAF9
                separator  #454947

                #                  border  backgr. text
                focused_workspace  #F9FAF9 #16a085 #292F34
                active_workspace   #595B5B #353836 #FDF6E3
                inactive_workspace #595B5B #283339 #EEE8D5
                binding_mode       #16a085 #2C2C2C #F9FAF9
                urgent_workspace   #16a085 #FDF6E3 #E5201D
        }

        # colors {
                # background $base00 # #EBDBB2
        #        separator  $base01
        #        statusline $base04

                # State             Border  BG      Text
        #        focused_workspace   $base05 $base0D $base00
        #        active_workspace    $base05 $base03 $base00
        #        inactive_workspace  $base03 $base01 $base05
        #        urgent_workspace    $base08 $base08 $base00
        #        binding_mode        $base00 $base0A $base00
        # }

        #status_command ~/.local/bin/bumblebee-status -m nic \
        #        cpu memory battery pasource date time \
        #        -p root.path=/ time.format="%H:%M" date.format="%a, %d %b %Y" \
        #        -t nord-powerline  # gruvbox-powerline-light
}