# set $DISPLAY_THINKPAD "eDP"
# set $DISPLAY_LEFT "HDMI-A-0"
# set $DISPLAY_CENTER "DisplayPort-4"
# set $DISPLAY_RIGHT "DisplayPort-3"

bindsym XF86MonBrightnessUp exec --no-startup-id light -A 1     # increase screen brightness
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 1   # decrease screen brightness

bindsym XF86Display exec --no-startup-id usageprofile_setup.sh