set $DISPLAY_LEFT "eDP"
set $DISPLAY_CENTER "HDMI-A-0"
set $DISPLAY_RIGHT "DisplayPort-1"

bindsym XF86MonBrightnessUp exec --no-startup-id light -A 1     # increase screen brightness
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 1   # decrease screen brightness

bindsym XF86Display exec --no-startup-id usageprofile_setup.sh