bar {
    # status_command i3blocks
    status_command 2>/tmp/i3blocks.err i3blocks -vvv -c $HOME/.config/i3blocks/config | tee /tmp/i3blocks.out

    # font pango: Hack, Font Awesome 10
    # font pango:Inconsolata, Icons 12
    strip_workspace_numbers yes
    tray_output primary
    tray_padding 2
    separator_symbol "  "
    position bottom

    colors {
        background #283339
        statusline #F9FAF9
        separator  #595B5B

        #                  border  backgr. text
        focused_workspace  #595B5B #F0C674 #292F34
        active_workspace   #595B5B #353836 #FDF6E3
        inactive_workspace #595B5B #283339 #EEE8D5
        binding_mode       #16a085 #2C2C2C #F9FAF9
        urgent_workspace   #16a085 #FDF6E3 #E5201D
    }
}