# browse workspaces with mouse buttons
# ----------------------------------------------------------------------------------------------------------------------
bindsym --whole-window button9 workspace next_on_output
bindsym --whole-window button8 workspace prev_on_output
bindsym --whole-window $mod+button9 move workspace to output right
bindsym --whole-window $mod+button8 move workspace to output left

bindsym $mod+Tab workspace next
bindsym $mod+Shift+Tab workspace prev