workspace_auto_back_and_forth yes

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
# ----------------------------------------------------------------------------------------------------------------------
set $ws_main "1 1: main"
set $ws_web "2  2: web"
set $ws_chat "3  3: chat"
set $ws_fz_code "4  4: fz code"
set $ws_fz_shells "5  5: fz shells"
set $ws_fz_apps "6  6: fz apps"

bindsym $mod+1 workspace $ws_main
bindsym $mod+2 workspace $ws_web
bindsym $mod+3 workspace $ws_chat
bindsym $mod+4 workspace $ws_fz_code
bindsym $mod+5 workspace $ws_fz_shells
bindsym $mod+6 workspace $ws_fz_apps

# assign workspace to displays
# ----------------------------------------------------------------------------------------------------------------------
workspace $ws_fz_shells output $DISPLAY_LEFT
workspace $ws_fz_code output $DISPLAY_CENTER
workspace $ws_fz_apps output $DISPLAY_RIGHT

# move focused container to workspace
# ----------------------------------------------------------------------------------------------------------------------
bindsym $mod+Shift+1 move container to workspace $ws_main
bindsym $mod+Shift+2 move container to workspace $ws_web
bindsym $mod+Shift+3 move container to workspace $ws_chat
bindsym $mod+Shift+4 move container to workspace $ws_fz_code
bindsym $mod+Shift+5 move container to workspace $ws_fz_shells
bindsym $mod+Shift+6 move container to workspace $ws_fz_apps

# assign applications to workspaces
# ----------------------------------------------------------------------------------------------------------------------
assign [class="jetbrains-pycharm"] $ws_fz_code
# assign [class="Firefox"] $ws_fz_apps